/* GeneralAnamnesis.module.css */

.anamnesisForm {
    background-color: #FBF2E2;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.title {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px; /* Spațiu între label și input */
    display: inline-block;
    vertical-align: middle;
}

.form-group input {
    border: none;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #333; /* Linie punctată */
    background-color: transparent;
    font-size: 18px;
    outline: none;
    padding: 5px 0;
    display: inline-block;
    width: 300px; /* Lungimea inputului */
    vertical-align: middle;
}
.form-group input::placeholder {
    color: #efa3a3; /* Culoarea gri pentru placeholder */
    opacity: 1; /* Asigură-te că placeholder-ul nu este transparent */
}

.boolean-group {
    display: flex;
    gap: 20px; /* Spațiu între grupurile de opțiuni */
    align-items: start;
    justify-content: flex-start;
    margin-top: 10px;
}

.boolean-group label {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 0px; /* Elimină spațiul dintre butonul radio și text */
}

.boolean-group input[type="radio"] {
    margin-right: 0px; /* Elimină spațiul dintre bulină și text */
    transform: scale(1.2); /* Opțional: mărește puțin dimensiunea bulinei */
}



.buttonSubmit {
    text-align: center;
    padding: 12px;
    background-color: #FFA48D;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonSubmit:hover {
    background-color: #ec7659;
}

.buttonSubmit:focus {
    outline: none;
    background-color: #e74e28;
}

