.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.message {
    margin-bottom: 20px;
    color: #283b53;
}

.closeButton {
    border: none;
    background-color: #0b1d3a;
    font-size: 18px;
    font-weight: bold;
    color: #3fcfe7;
    cursor: pointer;
}

.closeButton:hover {
    color: #f00;
}
