.navbar {
    display: flex;
    padding: 1.5rem 1.5rem;
    background-color: #e0f7fa;
    flex-direction: column;
    align-items: flex-end;
}

.navLinks {
    display: flex;
    align-items: center; /* Aliniază linkurile vertical */
}

.navLinks a, .navLinks button {
    margin-left: 20px; /* Spațiu între linkuri */
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.logout-btn, .history, .contact{
    background-color: transparent;
}

.menu-btn{
    background-color: transparent;
}

.navLinks button {
    border: none;
    cursor: pointer;
}

.navLinks button:hover, .navLinks a:hover {
    font-weight: bold;
    background-color: transparent;
}

