.notification{
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
}

.titleNot{
    color: #283b53;
}

/* Stilul pentru notificările necitite */
.unreadNotification {
    background-color: #f0f8ff; /* Exemplu de albastru deschis */
}

/* Stilul pentru notificările citite */
.readNotification {
    background-color: #e0e0e0; /* Exemplu de gri deschis */
}

.date_and_time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.date_time_text{
    margin: 0 0;
}

.notifications{
    list-style: none;
    padding: 0;
}

.notification_title{
    font-size: 16px;
}

.patient_link{
    color: #0b1d3a;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    padding: 0 0.3rem;
}

.read_icon, .trash_icon{
    height: 23px;
    width: auto;
    cursor: pointer;
}
/* Stilul pentru iconiță */
.trash_icon_container {
    position: relative;
    display: inline-block;
}

/* Tooltip-ul ascuns implicit */
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    bottom: 125%; /* Ajustează poziția tooltip-ului */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Săgeata de la tooltip */
.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.trash_icon_container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tex_and_arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.2rem;
}

.header_notifications{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.arrow{
    height: 10px;
    width: auto;
}

.icons{
    display: flex;
    gap: 0.8rem;
}

.details_content{
    padding: 0 1rem;
}