.contentPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
    padding: 2rem 0;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Lasă conținutul să dicteze înălțimea */
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.65);
}

.users{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    height: auto;
    padding: 1rem;
    background-color: #bcefff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.usersVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedPatient {
    border: 2px solid #007bff; /* Schimbă această culoare pentru evidențiere */
    background-color: #e6f7ff; /* Culoare de fundal pentru pacientul selectat */
}

.userDetails{
    min-width: 300px;
}

.patientList {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 280px;
    min-height: 450px; /* Setează înălțimea maximă pentru lista de pacienți */
    overflow-y: auto;  /* Adaugă scroll vertical când lista depășește înălțimea */
    padding-right: 10px; /* Adaugă spațiu pentru scroll bar */
}

.patientCard {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;

}

.patientPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.patientCard p {
    margin: 0;
    font-weight: bold;
}


.sex_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}


.user_role_label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.boolean-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.6rem;
}

.switchContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 8px; /* Adaugă spațiu între etichetă și casetă */
}

.checkbox{
    width: auto; /* Setează lățimea automată */
}

.registerNewUserT{
    color: #283b53;
}

.tabButtons {
    display: flex;
    justify-content: space-between; /* Distribuie uniform butoanele */
    margin-bottom: 15px;
    width: 100%; /* Asigură că butoanele acoperă întreaga lățime a containerului */
}

.tabButton {
    flex: 1; /* Fiecare buton ocupă o fracțiune egală din lățime */
    padding: 10px 0; /* Ajustăm padding-ul pentru a controla înălțimea butonului */
    text-align: center; /* Asigură că textul este centrat */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px; /* Adaugă spațiu între butoane */
}

.tabButton:hover, .tabButton.active {
    background-color: #ddd;
}


.tabButton:hover, .tabButton.active {
    background-color: #ddd;
}

/* Tab content */
.tabContent {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.activeTab {
    background-color: #0b1d3a;
    color: white;
}

.form-group {
    margin-top: 0.6rem
}
