.contentPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
    padding: 2rem 0;
    flex-wrap: wrap;
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.65);
    width: 250px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.users{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
    height: auto;
    padding: 2rem 2rem;
    background-color: #bcefff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.usersVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedPatient {
    border: 2px solid #007bff; /* Schimbă această culoare pentru evidențiere */
    background-color: #e6f7ff; /* Culoare de fundal pentru pacientul selectat */
}

.userDetails{
    min-width: 45%;

}

.patientList {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 10rem;
    min-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
}

.patientCard {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;

}

.patientPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.patientCard p {
    margin: 0;
    font-weight: bold;
}


.sex_options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}


.user_role_label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 8px;
    padding: 1rem 2rem;
}
.changeRolT{
    color: #0b1d3a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text{
    text-align: center;
}
.actionButton{

    margin-bottom: 10px;
}

.boolean-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.6rem;
    width: 15rem;
}

.switchContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 8px; /* Adaugă spațiu între etichetă și casetă */
}

.checkbox{
    width: auto; /* Setează lățimea automată */
}

.registerNewUserT{
    color: #283b53;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.tabButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabButton {
    flex: 1;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}

.tabButton:hover, .tabButton.active {
    background-color: #ddd;
}


/* Tab content */
.tabContent {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.activeTab {
    background-color: #0b1d3a;
    color: white;
}

.form-group {
    margin-top: 0.6rem;
    width: 15rem;
}

.changeRolImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.alignCenter{
    display: flex;
    flex-direction: column;
    align-items: center;

}