.page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #D2EFF6, #1EB9DE);
    margin: 0;
    min-height: 100vh;
    width: 100vw; /* Make sure it covers the full width */
    overflow: hidden; /* Prevents scrolling due to padding/margins */
    position: relative; /* Ensure images are positioned correctly */
}

.container {
    display: flex;
    justify-content: center;
}

.card-container {
    padding-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.70);
    padding-bottom: 20px;
}

.card-content {
    text-align: center;
    padding: 70px;
}

.form-group {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 30px;
    background-color: rgba(107, 221, 246, 0.26);
    font-family: 'Piazzolla', serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

button.btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(22, 37, 66, 1);
    color: white;
    border: 1px solid rgba(22, 37, 66, 0.5);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Piazzolla', serif;
}

button.btn:disabled {
    background-color: rgba(22, 37, 66, 1);
    cursor: not-allowed;
}

.helloMsg {
    text-align: center;
    color: rgba(22, 37, 66, 1);
    font-size: 35px;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

.left-image-reg,
.right-image-reg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-image-reg {
    left: 0;
    width: 400px;
    height: auto;
    padding-left: 30px;
}

.right-image-reg {
    right: 0;
    width: 300px;
    height: auto;
    padding-right: 50px;
}
