.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 8px;
    padding: 1rem 2rem;
}
.changeRolT{
    color: #0b1d3a;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text{
    text-align: center;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(224, 247, 250, 0.15);
}

.components{
    display: flex;
    flex-direction: row;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.intro-paragraph{
    text-align: justify;
    font-size: 1.1rem;
    color: #16336e;
}

.intro-photo{
    width: 180px;
    height: auto;
    padding-left: 1rem;
    padding-top: 1rem;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap:0.5rem;
}


.calendar-part {
    background:#f0f8ff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: #0BB0CE;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
}



.text-part{
    background-color: #f0f8ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 1rem 1rem;
}

.edit-delete-button{
    width: 25px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}


/* Stil pentru etichete și titluri */
.form-group label,
.time-slots-title,
.appointment-reason-label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333; /* Gri închis pentru contrast */
    display: block;
    margin-bottom: 10px;
}

/* Stil pentru input */
.form-group input,
.appointment-reason-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white; /* Alb pentru input */
    font-size: 1rem;
    color: #333;
}

/* Stil pentru butonul de adăugare */
.add-timeslot-button,
button {
    background-color: rgb(10, 24, 54); /* Aurie */
    color: #ffffff; /* Text închis */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Efect hover pentru butoane */
button:hover {
    background-color: #ffd15c; /* Aurie mai închisă la hover */
}

/* Mesajele de eroare */
.Alert {
    background-color: #ffcccb; /* Roșu deschis pentru eroare */
    color: #333; /* Text mai întunecat */
    padding: 10px;
    border-radius: 5px;
}

.time-slots ul {
    list-style: none;
    padding: 0;
}

.time-slots li {
    background-color: #fff; /* Alb */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titlul secțiunii de intervale selectate */
.time-slots-title {
    color: #333; /* Gri închis */
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input pentru motivul programării */
.appointment-reason-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    font-size: 1rem;
    color: #333;
}

/* Trimite cererea */
button.send-request {
    background-color: #ffd700;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button.send-request:hover {
    background-color: #f0b800;
}


.labelHour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: auto !important;
}

.checkBox {
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: auto !important;
}

.date{
    text-align: center;
    font-size: 22px;
    color: #0b2950;
    font-weight: bold;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.editT{
    color: #283b53;
}

@media(max-width: 1000px){

}

@media(max-width: 700px) {
    .introduction{
        flex-direction: column;
        padding: 0.5rem 0.8rem;
        gap:0.4rem;
    }
    .intro-photo{
        width: 100px;
        padding: 0;
    }
}

.modalStyle{
    position: absolute;
    background-color: #e7f3fe;
    border-radius: 8px;
}