.patients-appointment-title{
    font-size: 25px;
    text-transform: uppercase;
    color: #16336e;
}

.add-appointment-button{
    background-color: #bde9fa;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #16336e;
    border-color: #3fcfe7;
}